<!doctype html>
<html lang="ja">
<meta charset="utf-8">
<title>ブログ</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<script>

</script>
<%=name %>さんでログインしています
タイトル <input ng-model="blog.title"><br>
内容 <textarea ng-model="blog.content"></textarea><br>
著者 <input ng-model="blog.author"><br>
作成  <input ng-model="blog.created_at"><br>
<button class="btn btn-success" ng-click="edit()">登録</button>
<button class="btn btn-success" ng-href="/#/blogs"><a ng-href="/#/users">戻る</a></button>
</html>